In [3]:
import pandas as pd
import itertools

In [4]:
df = pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv')

In [5]:
df.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [6]:
df0=pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\phishing_site_urls.csv')
print(df0.shape)
df0.head()

(549346, 2)

                                                 URL Label
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...   bad
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....   bad
3  mail.printakid.com/www.online.americanexpress....   bad
4  thewhiskeydregs.com/wp-content/themes/widescre...   bad

In [7]:
df['type'].value_counts()

benign        428103
defacement     96457
phishing       94111
malware        32520
Name: type, dtype: int64

In [8]:
to_retain = ['phishing','malware']
df = df[df.type.isin(to_retain)]

In [9]:
df.head()

                                                  url      type
0                                    br-icloud.com.br  phishing
21         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
28  http://www.marketingbyinternet.com/mo/e56508df...  phishing
38  http://www.824555.com/app/member/SportOption.p...   malware
40  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [10]:
df['type'].value_counts()

phishing    94111
malware     32520
Name: type, dtype: int64

In [11]:
df = df[['url','type']]
df.head()

                                                  url      type
0                                    br-icloud.com.br  phishing
21         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
28  http://www.marketingbyinternet.com/mo/e56508df...  phishing
38  http://www.824555.com/app/member/SportOption.p...   malware
40  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [12]:
colnames = ['url']
df_real = pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',names=colnames, header=None)

In [13]:
df_real.head()

                                                           url
url                                                       type
br-icloud.com.br                                      phishing
mp3raid.com/music/krizz_kaliko.html                     benign
bopsecrets.org/rexroth/cr/1.htm                         benign
http://www.garage-pirenne.be/index.php?option=c...  defacement

In [14]:
df_real['type'] = 'bad'
df_real.head()

                                                           url type
url                                                       type  bad
br-icloud.com.br                                      phishing  bad
mp3raid.com/music/krizz_kaliko.html                     benign  bad
bopsecrets.org/rexroth/cr/1.htm                         benign  bad
http://www.garage-pirenne.be/index.php?option=c...  defacement  bad

In [15]:
df_data =pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\phishing_site_urls.csv')
df_data.head()

                                                 URL Label
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...   bad
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....   bad
3  mail.printakid.com/www.online.americanexpress....   bad
4  thewhiskeydregs.com/wp-content/themes/widescre...   bad

In [16]:
df_data = df_data[df_data['Label']=='bad']

In [17]:
df_data.shape

(156422, 2)

In [18]:
df_data.head()

                                                 URL Label
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...   bad
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....   bad
3  mail.printakid.com/www.online.americanexpress....   bad
4  thewhiskeydregs.com/wp-content/themes/widescre...   bad

In [19]:
df_data.columns = ['url', 'type']

In [20]:
df_data.head()

                                                 url type
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...  bad
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...  bad
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....  bad
3  mail.printakid.com/www.online.americanexpress....  bad
4  thewhiskeydregs.com/wp-content/themes/widescre...  bad

In [21]:
df_data=df_data.replace(to_replace ="bad", 
                 value ="benign")

In [22]:
df_data.head()

                                                 url    type
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...  benign
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...  benign
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....  benign
3  mail.printakid.com/www.online.americanexpress....  benign
4  thewhiskeydregs.com/wp-content/themes/widescre...  benign

In [23]:
df_good = pd.concat([df_data,df_real], ignore_index=True)
df_good.shape

(807614, 2)

In [24]:
df_good.head()

                                                 url    type
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...  benign
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...  benign
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....  benign
3  mail.printakid.com/www.online.americanexpress....  benign
4  thewhiskeydregs.com/wp-content/themes/widescre...  benign

In [25]:
df1 = pd.concat([df_good,df],ignore_index=True)
df1.shape

(934245, 2)

In [26]:
df1.head()

                                                 url    type
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...  benign
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...  benign
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....  benign
3  mail.printakid.com/www.online.americanexpress....  benign
4  thewhiskeydregs.com/wp-content/themes/widescre...  benign

In [27]:
colnames = ['url']

df_deface =pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\phishing_site_urls.csv',names=colnames, header=None)
df_deface.head()

                                                      url
URL                                                 Label
nobell.it/70ffb52d079109dca5664cce6f317373782/l...    bad
www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrcm...    bad
serviciosbys.com/paypal.cgi.bin.get-into.herf.s...    bad
mail.printakid.com/www.online.americanexpress.c...    bad

In [28]:
df_deface['type'] = 'defacement'
df_deface.head()

                                                      url        type
URL                                                 Label  defacement
nobell.it/70ffb52d079109dca5664cce6f317373782/l...    bad  defacement
www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrcm...    bad  defacement
serviciosbys.com/paypal.cgi.bin.get-into.herf.s...    bad  defacement
mail.printakid.com/www.online.americanexpress.c...    bad  defacement

In [29]:
df2 = pd.concat([df1,df_deface],ignore_index=True)
df2.shape

(1483592, 2)

In [30]:
df2.head()

                                                 url    type
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...  benign
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...  benign
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....  benign
3  mail.printakid.com/www.online.americanexpress....  benign
4  thewhiskeydregs.com/wp-content/themes/widescre...  benign

In [32]:
colnames = ['url']

df_phishing =pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\phishing_site_urls.csv',names=colnames, header=None)
df_phishing.head()

                                                      url
URL                                                 Label
nobell.it/70ffb52d079109dca5664cce6f317373782/l...    bad
www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrcm...    bad
serviciosbys.com/paypal.cgi.bin.get-into.herf.s...    bad
mail.printakid.com/www.online.americanexpress.c...    bad

In [33]:
df_phishing['type'] = 'phishing'
df3 = pd.concat([df2,df_phishing],ignore_index=True)
df3.shape

(2032939, 2)

In [34]:
df_mal = pd.read_csv('\\Users\\Isha\\Downloads\\phishing_site_urls.csv', header=None,names=colnames)
df_mal['type'] = 'malware'
df4 = pd.concat([df3,df_mal],ignore_index=True)
df4.shape

(2582286, 2)

In [35]:
df4['type'].value_counts()

bad           651192
phishing      643458
malware       581867
defacement    549347
benign        156422
Name: type, dtype: int64

In [33]:
df=pd.read_csv('\\Users\\Isha\\Downloads\\malicious_phish.csv')
df.head()

                                                 url      type
0                                   br-icloud.com.br  phishing
1         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
2  http://www.marketingbyinternet.com/mo/e56508df...  phishing
3  http://www.824555.com/app/member/SportOption.p...   malware
4  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [34]:
df.shape

(8573646, 2)

In [36]:
df_phishing = pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv')
df_phishing.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [37]:
df_phishing = df_phishing[['url']]

In [38]:
df_phishing['type']='phishing'
df_phishing.head()

                                                 url      type
0                                   br-icloud.com.br  phishing
1                mp3raid.com/music/krizz_kaliko.html  phishing
2                    bopsecrets.org/rexroth/cr/1.htm  phishing
3  http://www.garage-pirenne.be/index.php?option=...  phishing
4  http://adventure-nicaragua.net/index.php?optio...  phishing

In [39]:
df_phishing.shape

(651191, 2)

In [40]:
df5 = pd.concat([df,df_phishing],ignore_index=True)
df5.shape

(777822, 2)

In [41]:
df6 = pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',sep=',',error_bad_lines=False)

C:\Users\Isha\AppData\Local\Temp\ipykernel_2160\3729451538.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df6 = pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',sep=',',error_bad_lines=False)

In [42]:
df6.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [43]:
df6.shape

(651191, 2)

In [44]:
df6 = df6[['url']]
df6['type']='malware'

In [45]:
df6.head()

                                                 url     type
0                                   br-icloud.com.br  malware
1                mp3raid.com/music/krizz_kaliko.html  malware
2                    bopsecrets.org/rexroth/cr/1.htm  malware
3  http://www.garage-pirenne.be/index.php?option=...  malware
4  http://adventure-nicaragua.net/index.php?optio...  malware

In [46]:
df_final = pd.concat([df5,df6],ignore_index=True)
df_final.shape

(1429013, 2)

In [47]:
df_final.to_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',index=False)

In [48]:
df7 =pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',sep=',',error_bad_lines=False,encoding="ISO-8859-1")
df7.shape

C:\Users\Isha\AppData\Local\Temp\ipykernel_2160\4063918524.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df7 =pd.read_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',sep=',',error_bad_lines=False,encoding="ISO-8859-1")

(1429013, 2)

In [49]:
df7.head()

                                                 url      type
0                                   br-icloud.com.br  phishing
1         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
2  http://www.marketingbyinternet.com/mo/e56508df...  phishing
3  http://www.824555.com/app/member/SportOption.p...   malware
4  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [51]:
df7.columns=['url','type']
df7.head()

                                                 url      type
0                                   br-icloud.com.br  phishing
1         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
2  http://www.marketingbyinternet.com/mo/e56508df...  phishing
3  http://www.824555.com/app/member/SportOption.p...   malware
4  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [52]:
df_final = pd.concat([df_final,df7],ignore_index=True)
df_final.shape

(2858026, 2)

In [53]:
df_final.to_csv('F:\\Study\\SEM 7\\BE PROJECT\\Datasets\\malicious_phish.csv',index=False)